@page "/fetchdata"


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>



<table class="table data-table dataTable ">
        <thead>
        <tr>

            <th>
            </th>
            <th class="">
                <p>Nom complet</p>
            </th>
            <th>
                <p>Numéro d'employé</p>
            </th>
            <th>
                <p>Superviseur</p>
            </th>
            <th>
                <p>Parrain</p>
            </th>
            <th>
                <p>Région</p>
            </th>
            <th>
                <p>Organisation</p>
            </th>
            <th>
                <p>Actif</p>
            </th>
        </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    </td>
                    <td class="list-indicator-assigned">
                        <p><a href="">Admin Principal</a></p>
                    </td>
                    <td>
                        <p>0000</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p>OrganiTest_0323</p>
                    </td>
                </tr>


        <tr>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            </td>
            <td class="list-indicator-assigned">
                <p><a href="">Admin Principal</a></p>
            </td>
            <td>
                <p>0000</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <p>OrganiTest_0323</p>
            </td>
        </tr>


        </tbody>
    </table>


@code {

}
