@page "/"

<PageTitle>Index</PageTitle>




<table id="example-4" class=" data-table  dataTable no-footer " role="grid">
    <thead>
        <tr role="row" style="height: 0px;">
            <th aria-controls="example-4" class="datatable-form " colspan="1" rowspan="1" style="width: 10px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Email: activate to sort column descending" aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" style="width: 157.641px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Email
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Last Name: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 137.383px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Last Name
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Name: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 137.383px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Name
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Invite: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 178.898px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Invite
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Date: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 140.391px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Date
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Statue: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 138.398px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Statue
                    </div>
                </div>
            </th>
            <th aria-label="" class="disable-option sorting_disabled" colspan="1" data-sortable="false" rowspan="1" style="width: 48.9062px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;"></div>
                </div>
            </th>
        </tr>

    </thead>


    <tbody>


        <tr class="odd datatable-new " role="row">
            <td  >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                </div>
            </td>
            <td class="list-indicator-alert sorting_1">name.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="even" role="row">
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                </div>
            </td>
            <td class="list-indicator-danger sorting_1">name.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="odd" role="row">
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                </div>
            </td>
            <td class="list-indicator-unassigned sorting_1">name.verylongnamenoreply01.ca</td>
            <td>Last Name</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="even" role="row">
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                </div>
            </td>
            <td class="list-indicator-assigned sorting_1">testname.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
    </tbody>
</table>


