

<style>
    body {
          margin: 0;
                font-family: var(--cui-body-font-family);
                font-size: var(--cui-body-font-size);
                font-weight: var(--cui-body-font-weight);
                line-height: var(--cui-body-line-height);
                color: var(--cui-body-color);
                text-align: var(--cui-body-text-align);
                background-color: var(--cui-body-bg);
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(8, 10, 12, 0);
                background-color: var(--cui-tertiary-bg);
                overflow: -moz-scrollbars-vertical;*/
                   overflow-x: hidden;
                overflow-y: auto;
    }

    .datatable-form {
        background: red;
        width: fit-content;
    }
  

    /*        table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }*/
/*     dataTables_wrapper {
        max-width: 800px !important;
        margin: 0 auto;
    } */
</style>

<div class="row" >
    <div class="col-12 col-sm-12">
    <table></table>
    </div>
</div>

@code {
}