@page "/table"

@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>  *@
 
<table id="example-4" class=" data-table  dataTable no-footer table-striped nowrap" role="grid">
    <thead>
        <tr role="row" style="height: 0px;">
            <th aria-controls="example-4" aria-label="Email: activate to sort column descending" aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" style="width: 157.641px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Email
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Last Name: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 137.383px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Last Name
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Name: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 137.383px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Name
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Invite: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 178.898px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Invite
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Date: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 140.391px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Date
                    </div>
                </div>
            </th>
            <th aria-controls="example-4" aria-label="Statue: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 138.398px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                        Statue
                    </div>
                </div>
            </th>
            <th aria-label="" class="disable-option sorting_disabled" colspan="1" data-sortable="false" rowspan="1" style="width: 48.9062px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">
                    <div class="dataTables_sizing" style="height: 0px; overflow: hidden;"></div>
                </div>
            </th>
        </tr>

    </thead>


    <tbody>


        <tr class="" role="">
            <td class="list-indicator-alert sorting_1">name.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="" role="">
            <td class="list-indicator-danger sorting_1">name.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="" role="">
            <td class="list-indicator-unassigned sorting_1">name.verylongnamenoreply01.ca</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
        <tr class="" role="">
            <td class="list-indicator-assigned sorting_1">testname.verylongnamenoreply.ca</td>
            <td>Last Name</td>
            <td>Name</td>
            <td>name.verylongnamenoreply.ca</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td class="btn-cell"><button class="btn btn-small-action-table text-info-color" type="button"><i class="material-icons">send</i></button></td>
        </tr>
    </tbody>
</table>



<table id="" class="dataTables_filter dataTables_wrapper dt-bootstrap4 display  data-table dataTable no-footer table-striped nowrap dataTables_wrapper" style="width:100% ">
    <thead>
    <tr>    <th>
      <p></p>
    </th>
    <th class="">
      <p>Nom complet</p>
    </th>
    <th>
      <p>Numéro d'employé</p>
    </th>
    <th>
      <p>Superviseur</p>
    </th>
    <th>
      <p>Parrain</p>
    </th>
    <th>
      <p>Région</p>
    </th>
    <th>
      <p>Organisation</p>
    </th>
    <th>
      <p></p>
    </th>
            <th>
                <p>Actif</p>
            </th>
  </tr>
    </thead>
  <tbody>
    <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/-1/">Admin Principal</a></p>
      </td>
      <td>
        <p>0000</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-danger">
        <p><a href="/ProfileMgmtList/ProfileMgmt/11/">Philippe Chouinard-Gaouette</a></p>
      </td>
      <td>
        <p>123456</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="list-indicator-unassigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/18/">Christophe Bélanger III</a></p>
      </td>
      <td>
        <p>NONE</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <p>CGI</p>
      </td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/24/">Éric Boisvert</a></p>
      </td>
      <td><p>0303030303</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/25/">test QA20211202</a></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/27/">François Roussel</a></p>
      </td>
      <td>
        <p>575</p>
      </td>
      <td>
        <p>Éric Boisvert</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/31/">johpon Employé</a></p>
      </td>
      <td>
        <p>296</p>
      </td>
      <td>
        <p>johpon Employé</p>
      </td>
      <td></td>
      <td></td>
      <td>
        <p>OrganiTest_0323</p>
      </td>
      <td></td>
    </tr>
    <tr>
            <td class="list-indicator-alert">
                <p><a href="/ProfileMgmtList/ProfileMgmt/42/">jpc Employee0111</a></p>
      </td>
      <td>
        <p>789</p>
      </td>
      <td>
        <p>JohPon Employé_0228</p>
      </td>
      <td>
        <p>JohPon Employé_0228</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


        <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/-1/">Admin Principal</a></p>
            </td>
            <td>
                <p>0000</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-danger">
                <p><a href="/ProfileMgmtList/ProfileMgmt/11/">Philippe Chouinard-Gaouette</a></p>
            </td>
            <td>
                <p>123456</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-unassigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/18/">Christophe Bélanger III</a></p>
            </td>
            <td>
                <p>NONE</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <p>CGI</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/24/">Éric Boisvert</a></p>
            </td>
            <td>
                <p>0325032503030303030303</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/25/">test QA20211202</a></p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/27/">François Roussel</a></p>
            </td>
            <td>
                <p>575</p>
            </td>
            <td>
                <p>Éric Boisvert</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-assigned">
                <p><a href="/ProfileMgmtList/ProfileMgmt/31/">johpon Employé</a></p>
            </td>
            <td>
                <p>296</p>
            </td>
            <td>
                <p>johpon Employé</p>
            </td>
            <td></td>
            <td></td>
            <td>
                <p>OrganiTest_0323</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="list-indicator-alert">
                <p><a href="/ProfileMgmtList/ProfileMgmt/42/">jpc Employee0111</a></p>
            </td>
            <td>
                <p>789</p>
            </td>
            <td>
                <p>JohPon Employé_0228</p>
            </td>
            <td>
                <p>JohPon Employé_0228</p>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
  </tbody>
</table>

@code {

}


